<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>The password was reset for the account associated with the email address: <b><%= @user.email_address %></b>. Your new password is <b><%= @temp_password %></b>.</p>
    <br/>
    <p>Please log in with your new password to update your password.</p>
    <p>- The Support Team</p>
  </body>
</html>
